body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    z-index: 2;
    display: block;
    height: 130px;
    width: 100%;
    /* position: fixed; */
    background-color:grey;
    color: white;
    top: 0;
    padding: 5px;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.background{
    background-color: rgba(128, 128, 128, 0.356);
}

.header_row{
    display: flex;
    /* flex-direction: row; */
}

.WSU_logo1{
    width: 650px;
}
.WSU_logo1 img{
    width: 80%;
    height: auto;
}


.page_name{
    width: calc(100%);
    margin-top: 20px;
    text-align: center;
    color: black;
    padding-right: 300px;
}

.wsu_logo_col{
    width: 170px;
    height: 120px;
    text-align: right;
    padding-top: 5px;
}

.wsu_logo_col img {
    width: 100%;
    height: auto;
}

.application_title{
    font-size: 250%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.application_box{
    background-color: rgba(129, 1, 1, 0.26);
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 30px;
    border:15px black;
    font-size: 130%;
}

.applicant_full_name{
    display: flex;
}

.firstname_input{
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    margin-left: 5px;
}

.lastname_input{
    display: block;
    width: 50%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    height: 50px;
    margin-left: 5px;
}

.major_input{
    display: block;
    width: 65%;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    height: 50px;
    margin-left: 5px;
}

.GPA_and_GL{
    display: flex;
}

.grade_label{
    padding-right: 5px;
    margin-left: 35px;
    margin-top: 30px;
}
.grade_input{
    width: 30%;
    margin-top: 20px;
    height: 50px;
}

.GPA_input{
    display: block;
    width: 20%;
    margin-top: 20px;
    height: 50px;
    margin-left: 5px;
}


.classes_applying_for{
    display: flex;
    margin-top: 20px;
    margin-left: -30px;
}

.course1_label, .course2_label, .course3_label{
    padding-right: 5px;
    margin-left: 35px;
}

.TA_service{
    display: flex;
    margin-top: 20px;
    margin: block;
    margin-left: 5px;
    height: 50px;
}

.served_as_TA{
    padding-right: 10px;
}

.cancel_button{
    margin-left: 50px;
    display: inline-block;
    margin-bottom: 30px;
}
.apply_button{
    float: right;
    margin-right: 50px;
}

@media screen and (max-width:800px){
	.application_box{
        width: 80%;
    }
}
@media screen and (width:800px - 1200px){
	.application_box{
        width: 48%;
    }
}

@media screen and (min-width:1200px){
	.application_box{
        width: 92%;
    }
}


/*  make_TA_page    */
.courses_taught_box{
    background-color: rgba(1, 31, 129, 0.356);
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 30px;
    border:15px black;
    font-size: 130%;
    display: flexbox;
}

.course_box{
    background-color: rgba(129, 1, 1, 0.26);
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 30px;
    border:15px black;
    font-size: 130%;
}

.course_id_and_name{
    display: flex;
}

.page_title_profName{
    width: calc(100%);
    margin-top: 20px;
    text-align: center;
    color: black;
    padding-right: 300px;
}

.course_id{
    display: block;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    margin-left: 5px;
    margin-right: 50px;
}

.course_title{
    display: block;
    width: 50%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    height: 50px;
    margin-left: 50px;
}

.maxTA{
    display: block;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    margin-left: 5px;
    margin-right: 50px;
}

.major_input{
    display: block;
    width: 65%;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    height: 50px;
    margin-left: 5px;
}

.GPA_and_GL{
    display: flex;
}

.grade_label{
    padding-right: 5px;
    margin-left: 35px;
    margin-top: 30px;
}
.grade_input{
    width: 30%;
    margin-top: 20px;
    height: 50px;
}

.GPA_input{
    display: block;
    width: 20%;
    margin-top: 20px;
    height: 50px;
    margin-left: 5px;
}


.classes_applying_for{
    display: flex;
    margin-top: 20px;
    margin-left: -30px;
}

.course1_label, .course2_label, .course3_label{
    padding-right: 5px;
    margin-left: 35px;
}

.TA_service{
    display: flex;
    margin-top: 20px;
    margin: block;
    margin-left: 5px;
    height: 50px;
}

.served_as_TA{
    padding-right: 10px;
}

.cancel_button{
    margin-left: 50px;
    display: inline-block;
    margin-bottom: 30px;
}
.apply_button{
    float: right;
    margin-right: 50px;
}