header{
  text-align: center;
  font-size: 8vw;
}
body{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.buttonBox{
  text-align: right;
  width: 80%;
  margin: 2%;
}

.studentList{
  text-align: center;
  width: 80%;
  height: 60%;
  background-color: whitesmoke;
  margin: 3%;
  font-size: large;
  align-items: center;
}

.studentBox{
  width: inherit;
  background: wheat;
  position: relative;
  margin-left: 2%;
  margin-top: 4%;
  display:inline-flex;
}

.studentListTitle{
  font-size: 3vw;
  margin: 2%;
  background-color:  #92a8d1;
}

.studentLabels{
  margin-left: 2%;
}

.studentData{
  text-align: right;
  margin-left: auto;
}

.approval_wrapper{
  margin: 2%;
  padding: 3%;
}

.approval_wrapper{
  text-align: right;

  margin-left: 5%;
  display:inline-flex;
}

.approval_input #pending{
  background-color: yellow;
}

.approval_input #approved{
  background-color: green;
}

.approval_input #denied{
  background-color: red;
}

.change_btn{
  margin-right: 3%;
  padding: 5%;
}
